<h2 class='title is-2'><%= @manufacturing_country.name.titlecase%></h2>
<p class='mb-5'> This country made <%= @manufacturing_country.products.count %> food products. </p>

<h3>Products made by <%= @manufacturing_country.name %></h3>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product Name</th>
      <th>Brand</th>
    </tr>
  </thead>
  <tbody>
    <% @manufacturing_country.products.each do |product|%>
      <tr>
      <td><%= image_tag(product.thumbnail, :alt => product.product_name) %></td>
      <td><%= link_to product.product_name.titlecase, product %></td>
      <td><%= product.brand %></td>
      </tr>
    <% end %>
  </tbody>
</table>